@use 'src/styles/colors.scss' as c;

.header {
    background: #fff;
    padding: 24px 40px;
    display: flex;
    min-width: 100%;
    max-height: 80px;
    color: c.$midnight-purple;
}

.layout {
    min-width: 100%;
    min-height: 100vh;
}

.main {
    background: c.$stroke;
    min-height: calc(100vh - 80px);
}